<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../public/styles.css" />
    <link rel="stylesheet" href="../public/card.css" />
    <title>KIOSK</title>
  </head>

  <body>
    <header>
      <h1>결제 방식</h1>
      <h2>결제 방식을 선택해 주세요.</h2>
    </header>

    <main>
      <ul>
        <li>
          <div class="Image-grid">
            <div class="Image-item">
              <img id="Samsung" src="/Image/SamsungPay.jpg" alt="삼성페이" />
            </div>
            <div class="Image-item">
              <img id="Kakao" src="/Image/KakaoPay.png" alt="카카오페이" />
            </div>
            <div class="Image-item">
              <img id="Cd" src="/Image/Card.png" alt="카드결제" />
            </div>
            <div class="Image-item">
              <img id="Payco" src="/Image/Payco.jpg" alt="페이코" />
            </div>
          </div>
        </li>
      </ul>
    </main>
  </body>
</html>
