<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Help</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../public/styles.css" />
    <link rel="stylesheet" href="../public/help-take.css" />
    <script src="../scripts/app.js" defer></script>
    <script src="../scripts/load-page.js" defer></script>
    <script src="../scripts/help.js" defer></script>
  </head>
  <body>
    <header class="header-grid-container">
        <img
        src="../icons/home.png"
        alt="집 아이콘  제작자: Freepik - Flaticon"
        class="header-grid-imgItem"
        />
    </header>

   <main>
    <h1>키오스크 사용이 처음이신가요?</h1>
    <ul>
        <li class="help-item-center" data-help="1">
         <img src="../icons/help.png" alt="앉다 아이콘  제작자: Freepik - Flaticon" data-help="1">
         <div data-help="1">예</div>
        </li>
        <li class="help-item-center" data-help="0">
          <img src="../icons/challenger.png" alt="도전 아이콘  제작자: Freepik - Flaticon" data-help="0">
          <div data-help="0">아니요</div>
        </li>
    </ul>
   </main>
  </body>
</html>
