<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kiosk</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../public/styles.css" />
    <link rel="stylesheet" href="../public/index.css" />
    <script src="../scripts/app.js" defer></script>
    <script src="../scripts/load-page.js" defer></script>
    <script src="../scripts/index.js" defer></script>
  </head>
  <body>
    <header class="header-grid-container"></header>

    <main>
      <h1>주문하시려면 화면을 터치해 주세요</h1>
      <h2>현금결제를 하실 고객님께서는 카운터를 이용해주세요</h2>
    </main>
  </body>
</html>
