<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kiosk</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../public/styles.css" />
    <link rel="stylesheet" href="../public/main.css" />
    <script src="../scripts/app.js" defer></script>
    <script src="../scripts/load-page.js" defer></script>
    <script src="../scripts/menu.js" defer></script>
    <script src="../scripts/main.js" defer></script>
  </head>
  <body>
    <header class="header-grid-container">
      <img
        src="../icons/home.png"
        alt="집 아이콘  제작자: Freepik - Flaticon"
        class="header-grid-imgItem"
      />
      <h1 class="header-grid-h1Item">메뉴 & 주문</h1>
      <button class="header-grid-buttonItem">도움말</button>
    </header>

    <main id="main-grid-container">
      <section id="menu-category-container" class="main-grid-item">
        <div
          class="menu-category-items menu-category-selected"
          data-category="0"
        >
          <img
            src="../icons/gimbab.png"
            alt="김밥 아이콘  제작자: Nhor Phai - Flaticon"
            class="menu-category-img"
            data-category="0"
          />
          <div class="menu-category-text" data-category="0">김밥류</div>
        </div>
        <div class="menu-category-items" data-category="1">
          <img
            src="../icons/ramyun.png"
            alt="라면 아이콘  제작자: justicon - Flaticon"
            class="menu-category-img"
            data-category="1"
          />
          <div class="menu-category-text" data-category="1">라면류</div>
        </div>
        <div class="menu-category-items" data-category="2">
          <img
            src="../icons/bunsik.png"
            alt="떡볶이 아이콘  제작자: Umeicon - Flaticon"
            class="menu-category-img"
            data-category="2"
          />
          <div class="menu-category-text" data-category="2">분식류</div>
        </div>
        <div class="menu-category-items" data-category="3">
          <img
            src="../icons/drink.png"
            alt="음주 아이콘  제작자: monkik - Flaticon"
            class="menu-category-img"
            data-category="3"
          />
          <div class="menu-category-text" data-category="3">음료류</div>
        </div>
      </section>

      <section id="shopping-basket-container" class="main-grid-item">
        <h2 class="shopping-basket-name">장바구니</h2>
        <div class="shopping-basket-item">
          <span class="shopping-basket-text">원조 김밥 &nbsp;</span>
          <button class="shopping-basket-upButton"><</button>
          <span class="shopping-basket-number">0</span>
          <button class="shopping-basket-downButton">></button>
          <span class="shopping-basket-total">&nbsp; 3500원</span>
        </div>
        <div class="shopping-basket-item">
          <span class="shopping-basket-text">원조 김밥 &nbsp;</span>
          <button class="shopping-basket-upButton"><</button>
          <span class="shopping-basket-number">0</span>
          <button class="shopping-basket-downButton">></button>
          <span class="shopping-basket-total">&nbsp; 3500원</span>
        </div>
      </section>

      <section id="menu-sub-container" class="main-grid-item">
        <div class="menu-sub-items" data-row="0" data-column="0">
          <img
            src="https://images.yogiyo.co.kr/image/yogiyo/STOCK_IMG/%EB%B6%84%EC%8B%9D%EB%94%94%EC%A0%80%ED%8A%B8/%EB%B6%84%EC%8B%9D/%EC%8A%A4%ED%83%81_20190701_DHK%EC%B4%AC%EC%98%81_%EC%95%BC%EC%B1%84%EA%B9%80%EB%B0%A5_Side_01_1080x640.jpg?width=384&amp;height=273&amp;quality=100"
            class="menu-sub-img"
            data-row="0"
            data-column="0"
          />
          <div class="menu-sub-text" data-row="0" data-column="0">
            원조 김밥
          </div>
          <div class="menu-sub-price" data-row="0" data-column="0">3500원</div>
          <div class="menu-sub-put" data-row="0" data-column="0">담기</div>
        </div>
        <div class="menu-sub-items" data-row="0" data-column="1">
          <img
            src="https://images.yogiyo.co.kr/image/yogiyo/STOCK_IMG/%EB%B6%84%EC%8B%9D%EB%94%94%EC%A0%80%ED%8A%B8/%EB%B6%84%EC%8B%9D/%EC%8A%A4%ED%83%81_20190801_DHK%EC%B4%AC%EC%98%81_%EC%B0%B8%EC%B9%98%EA%B9%80%EB%B0%A5_Side01_1080x640.jpg?width=384&height=273&quality=100"
            class="menu-sub-img"
            data-row="0"
            data-column="1"
          />
          <div class="menu-sub-text" data-row="0" data-column="1">
            참치 김밥
          </div>
          <div class="menu-sub-price" data-row="0" data-column="1">4000원</div>
          <div class="menu-sub-put" data-row="0" data-column="1">담기</div>
        </div>
        <div class="menu-sub-items" data-row="0" data-column="2">
          <img
            src="https://images.yogiyo.co.kr/image/yogiyo/STOCK_IMG/%EB%B6%84%EC%8B%9D%EB%94%94%EC%A0%80%ED%8A%B8/%EB%B6%84%EC%8B%9D/%EC%8A%A4%ED%83%81_20190801_DHK%EC%B4%AC%EC%98%81_%EB%8F%88%EA%B9%8C%EC%8A%A4%EA%B9%80%EB%B0%A5_Side01_1080x640.jpg?width=384&height=273&quality=100"
            class="menu-sub-img"
            data-row="0"
            data-column="2"
          />
          <div class="menu-sub-text" data-row="0" data-column="2">
            돈까스 김밥
          </div>
          <div class="menu-sub-price" data-row="0" data-column="2">4500원</div>
          <div class="menu-sub-put" data-row="0" data-column="2">담기</div>
        </div>
      </section>
    </main>
  </body>
</html>
