main {
  width: 100%;
  height: 100%;
  margin: 0 auto 0 auto;
  border-radius: 2px;
}

main h2 {
  padding: 1.5rem 0 0 0;
  margin: 0.5rem 0;
  text-align: center;
  font-size: 5rem;
  color: rgb(50, 6, 63);
}

main p {
  background-color: brown;
  height: 0.5rem;
  width: 98.5%;
  text-align: center;
}

.item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: rgb(218, 198, 198);
  text-align: center;
}

.bg {
  background-color: white;
  width: 500px;
  height: 800px;
}

.article {
  font-size: 1.5rem;
  width: 12rem;
  border-bottom: 1px solid rgb(0, 0, 0);
  height: 2.5rem;
}

table {
  width: 99%;
  border-top: 1px solid rgb(0, 0, 0);
  border-collapse: collapse;
}

.item-table {
  width: 99%;
  border-top: 1px solid rgb(0, 0, 0);
  border-collapse: collapse;
  text-align: center;
}

td {
  border-bottom: 0.5px solid rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
}

.item-td {
  border-bottom: 0.5px solid rgb(0, 0, 0);
  padding: 10px;
}

.item-breakdown {
  height: 4rem;
}

.item-check {
  display: flex;
  justify-content: flex-end;
}
.order-method {
  font-size: 2rem;
  margin: 0 1rem 0 0.1rem;
}

#bottom-line {
  background-color: rgb(0, 0, 0);
  height: 0.1rem;
  width: 98.5%;
  text-align: center;
}

.total-cost {
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-end;
  margin-right: 20%;
}

#total {
  margin-right: 15%;
}

/* .before-next{
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
  } */

ul {
  display: flex;
  justify-content: right;
  margin-right: 1%;
  margin-top: 0.1rem;
}

li {
  list-style: none;
  margin-right: 0.5rem;
}

nav a {
  background-color: rgb(224, 224, 133);
  border-radius: 2px;
  font-size: 2rem;
  font-weight: bold;
  width: 4rem;
  height: 2.5rem;
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
  text-decoration: none;
  color: black;
}

nav a:hover {
  font-size: 2.2rem;
}
