#main-grid-container {
  margin-left: 7rem;
  display: grid;
  grid-template-columns: minmax(30rem, 55rem) 25rem;
  grid-template-rows: 8.5rem minmax(18rem, auto);
  column-gap: 2rem;
  row-gap: 2rem;
}

#menu-category-container {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-style: solid;
}

.menu-category-items {
  width: 8rem;
  cursor: pointer;
  text-align: center;
}

.menu-category-img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}

.menu-category-text {
  text-align: center;
}

.menu-category-selected {
  background-color: rgba(85, 78, 78, 0.5);
  border-radius: 1rem;
}

.main-grid-item:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/3;
}

#shopping-basket-container {
  display: grid;
  grid-template-columns: 25rem;
  grid-template-rows: auto minmax(20rem, auto) auto;
  text-align: center;
  background-color: white;
  border-style: solid;
}

.shopping-basket-name {
  margin: 0;
  font-size: 2.5rem;
}

.shopping-basket-items {
  display: flex;
  justify-content: left;
  margin: 1rem auto;
}

.shopping-basket-items button,
span {
  margin-left: 1rem;
  text-align: center;
}

.shopping-basket-items .shopping-basket-x {
  margin-left: 2rem;
}

.shopping-basket-items .shopping-basket-text {
  width: 5rem;
}

.shopping-basket-items .shopping-basket-number {
  width: 2rem;
}

.shopping-basket-sum {
  justify-self: end;
}

.shopping-basket-sum h3 {
  margin: 1rem 2rem;
  font-size: 2.5rem;
}

#menu-sub-container {
  padding: 1rem;
  display: flex;
  height: 19rem;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-style: solid;
}

.menu-sub-items {
  padding: 0.5rem;
  width: 10rem;
  cursor: pointer;
  text-align: center;
}

.menu-sub-img {
  width: 8rem;
  height: 8rem;
  border-radius: 2rem;
  object-fit: cover;
}

.menu-sub-selected {
  background-color: rgba(85, 78, 78, 0.5);
  border-radius: 1rem;
}

.footer-grid-container {
  margin: 1.5rem 7rem;
  text-align: right;
}

.footer-grid-container button {
  margin-left: 1rem;
}
