
body {
  margin: 0;
  font-family: "IBM Plex Sans KR", sans-serif;
  color: rgb(44, 41, 44);
  background-color: rgb(253, 249, 253);
}

.header-grid-container{
  margin: 1.5rem 5rem;
  display: grid;
  grid-template-columns: 7rem minmax(25rem, auto) 7rem;
  grid-template-rows: 7rem;
  align-items: start;
}

.header-grid-imgItem {
  margin-top: 0.5rem;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  cursor: pointer;
}

.header-grid-h1Item{
  margin: 0;
  justify-self: center;
  font-size: 4.5rem;
}


.alert-button-item {
    margin-top: 0.5rem;
    background-color: rgb(235, 47, 0);
    border-radius: 10px;
    border: 0;
    outline: 0;
    font-size: 2rem;
    font-weight: 600;
    color: azure;
    cursor:pointer;
  }